
  

<body>
  <script>
  window.addEventListener('load', function() {
    const chatBox = document.querySelector('.chat-box');
    chatBox.scrollTop = chatBox.scrollHeight;
  });
</script>

  <div class="container mt-4">
    <h1>{{title}}</h1>
    <div class="chat-box">
      {{#if chat.messages}}
        {{#each chat.messages}}
          <div class="message">
            <span class="sender">{{this.author}}</span>: 
            <span class="text">{{{this.text}}}</span>
            <div class="timestamp">{{this.createdAt}}</div>
          </div>
        {{/each}}
      {{else}}
        <p>No messages yet.</p>
      {{/if}}
    </div>
    <div class="container text-center">
      <div class="row align-items-start">
         <div class="col">
        <form action="/message/new" method="POST">
          <div class="mb-3">
            <textarea name="text" class="form-control" rows="3" placeholder="Type a message..." id="text"></textarea>
          </div>
          <input type="hidden" id="chatId" name="chatId" value={{chat.id}}></input>
          <button type="submit" class="btn btn-primary">Send</button>
        </form>
        <a href="/chat" class="btn btn-secondary mt-3">Back to Chat List</a>
      </div>
        <div class="col container-sm" style="max-width: 20% ;">
        <form action="/message/uploadFile" method="POST" enctype="multipart/form-data">
          <label for="file">Choose a PDF file:</label>
           <div class="mb-3">
            <input type="file" id="file" name="file" accept="application/pdf" required />
          </div>
          <input type="hidden" id="chatId" name="chatId" value={{chat.id}}></input>
  
          <button type="submit"  class="btn btn-primary">Upload</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  </div>
</body>

